@tailwind preflight;

body {
    @apply bg-grey-light min-h-screen leading-normal
}

#app {
    height: 100vh;
}

.form-input {
    @apply appearance-none bg-white text-grey-darker rounded py-3 px-4
}

.form-input:disabled {
    @apply bg-grey-light
}

.form-input-disabled {
    @apply appearance-none bg-grey-lightest text-grey-darker rounded py-3 px-4
}

.form-input-error {
    @apply border border-red-dark
}

.checkbox {
    @apply bg-grey w-6 h-6 mr-1 rounded align-middle
}

.checkbox-checked {
    @apply bg-blue
}

.checkbox-checked .checkmark {
    @apply m-auto;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

.error {
    @apply text-red-darker rounded bg-red-lighter mt-2 px-2 py-1 
}

.help-note {
    @apply p-4 mb-2 bg-white rounded shadow text-grey-darkest 
}

.help-note-small {
    @apply p-3 text-sm
}

.help-note-circle {
    height: 1.5rem;
    width: 1.5rem;
    padding-top: 0.1rem;
    @apply rounded-full border text-grey-light mr-2 mb-2 text-center font-bold text-sm absolute pin-r pin-b leading-tight border-grey-light
}

input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input:focus{
    outline: rgb(52, 144, 220) auto 2px;  
}

button:focus{
    outline: none;   
}

@tailwind utilities;